@import url("https://fonts.googleapis.com/css?family=Roboto");
.cardProduct {
  font-family: "Roboto", sans-serif;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
  background: #fff;
  list-style-type: none;
  width: 416px;
  height: 263.70px;
  position: relative;
  border-radius: 5px;
  /* 0,6339 height / width ratio */

}
  /* from 877 to Responsive 360 x 640 */
@media (max-width: 360px) {
  .cardProduct{
width: 116px;
height:500px;
  }
}

.cardImage {
  /*2/3 image*/
  height: 175.8px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.cardProduct .labelTitulo {
  position: absolute;
  top: 7px;
  left: 7px;
  height: 33px;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 0 1px 2px #000;
  background: rgba(136, 86, 168, .6);
  padding-left: 7px;
  padding-right: 30px;
  line-height: 33px;
}

.cardProduct .logoProduct {
  width: 17px;
  height: 17px;
  margin-right: 30px;
}

.cardInfo {
  /* 1/3 text */
  height: 87.9px;
}

.cardInfo .description {
  margin-top: 10px;
  font-size: 12px;
}

.cardInfo .price {
  margin-top: 10px;
  font-size: 22px;
  font-weight: normal;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .cardQuantity:hover {
  background: #9967B9
}
 */

.cardProduct .stars li a i {
  color: #ffe500;
  font-size: 12px;
}

.cardProduct .fa-clock-o {
  color: white;
  position: absolute;
  top: 7px;
  right: 7px;
  width: 39px;
  height: 39px;
  background: rgba(51, 193, 210, .6);
  border-radius: 100%;
  line-height: 39px;
  text-align: center;
}

.cardProduct .fa-clock-o:hover {
  background: #33C1D2;
  cursor: pointer;
}

.cardQuantity {
  position: relative;
  height: 87.9px;
  background: #8856A8;
  border-radius: 0 0 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardProduct .quantityButton {
  
  color: white;
  width: 25px;
  height: 25px;
  background: rgba(51, 193, 210, .6);
  border-radius: 100%;
  line-height: 25px;
  text-align: center;
  margin:5px;
  display: inline-block;
}
.cardProduct i.quantityButton:hover {
  background: #33C1D2;
  cursor: pointer;
}